# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
ENV/
.venv/
.vscode/

# VS Code settings folder
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# JetBrains IDEs
.idea/

# Python virtual environment folders
venv/

# Pytest cache
.pytest_cache/

# Cython debug symbols
cython_debug/
